:root {
    --color1: #A77C5D;
    --color2: #F4E8DE;
    --color3: #332317;
    --color4: #997052;
    --color5: #EDDACA;
    --cat1-color: #490C97;
    --cat2-color: #0C5497;
    --cat3-color: #49970C;
    --cat4-color: #970C0C;
    --fade-cat-color: #970C0C33;
    --additional-dark-color: #A5A5A5;
    --additional-color: #C4C4C4;
}

body {
    font-family: 'Roboto', serif;
    background-color: var(--additional-dark-color);
}

wrapper {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    border-radius: 12px;
    margin: 159px 12px;
}


.header__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    border-bottom: 1px solid var(--color1);
    padding-left: 16px;
    padding-bottom: 16px;
}


.form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-bottom: 1px solid var(--color1);
    padding: 12px;
}


.form-input {
    padding: 14px 15px;
    background-color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 8px;
    width: calc(100% - 30px);
}

.form__item_weight {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100%);
    background: url(../page3/icons/arrow.svg) no-repeat right 14px top 50%;
}

.form-item {
    position: relative;
}

.form-label {
    position: absolute;
    top: 12px;
    left: 15px;
}


.form-item .form-input:focus + .form-label,
.form-item .form-input:not(:placeholder-shown) + .form-label {
    transform: translate(1px, -20px) scale(1);
    transition: 0.2s;
    font-size: 13px;
    background-color: var(--color2);

}

.main__button {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.button {
    border-radius: 8px;
    padding: 14px 36px;
}

.main__button_create {
    border: none;
    background-color: var(--color1);
}

.main__button_cancel {
    border: 1px solid var(--color1);
    background-color: var(--color2);
}
